* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border-radius: none;
  outline: none;
  box-shadow: none;
  border: none;
}

input {
  border-radius: 0px;
  border: none;
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(22, 34, 57, 0.99);
}

#main-header {
  height: 120px;
  font-size: 30px;
  padding-top: 15px;
  background-color: rgba(22, 34, 57, 0.99);
  color: #f5a425;
  text-align: center;
}

@media screen and (max-width: 680px) {
  #main-header {
    font-size: 24px;
    padding-top: 18px;
  }
}

@media screen and (max-width: 540px) {
  #main-header {
    font-size: 21px;
    padding-top: 21px;
  }
}

@media screen and (max-width: 420px) {
  #main-header {
    font-size: 18px;
    padding-top: 24px;
  }
}

#main-header .main-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: white;
}

#main-footer {
  height: 100px;
  border-top: 1px solid white;
  background-color: #DCDCDC;
  text-align: center;
}

#main-footer .logo {
  height: 80px;
  width: 80;
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 640px) {
  #main-footer .logo {
    height: 0px;
    width: 0px;
  }
}
