body {
    background-image: url('img/course.jpg');
    background-size: cover;
}



.course-box {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 300px;
    height: 100%;

    @media screen and (min-width: 992px) {
        & {
            width: 960px;
        }
    }

    .accordion-item {
        margin-top: 3px;
    }

    .course-header {
        height: 100%;

        .first-line, .second-line {
            display: block;
            height: 20px;                      
        }
        .first-line {
            overflow: scroll;
            white-space: nowrap;

            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera*/
            }
        }
        .second-line {
            margin-top: 6px;
        }

        .header-title {
            font-size: 0.9rem;
        }
        .header-name {
            font-size: 1.0rem;
            font-weight: 600;
        }
        .header-belong {
            font-size: 0.8rem;
        }
    }

    .course-body {
        margin-top: 1px;
        color: white;
        background-color: rgba(250, 250, 250, 0.15);
        padding: 10px;

        .video-section {
            background-color: black;
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }

        .download-section {
            margin: 20px;

            .download-item {
                text-decoration : none;
                display: block;
                color: #f5a425;
                font-weight: bold;
                margin: 10px;
            }
        }

        .horizonal-line {
            border-top: 1px solid white;
            margin: 0px;
            margin-left: 5px;
        }

        .content-section {
            display: block;
            margin-top: 50px;
            padding-bottom: 80px;

            & > div {
                margin-left: 30px;
                margin-right: 30px;
                padding-left: 15px;
                padding-right: 15px;

                margin-top: 10px;
            }
            
            .content-submit {

                textarea {
                    border: none;
                    border-bottom: 1px solid white;
                    background-color: transparent;
                    color: white;
                    border-radius: 0px;
                    box-shadow: none;
                    outline: none;

                    height: auto;
                    resize: vertical;
                    overflow: hidden;

                    margin-bottom: 2px;
    
                    &:focus {
                        box-shadow: none;
                    }
                    &::placeholder {
                        color: white;
                    }
                }

                button {
                    height: 35px;
                    border-radius: 3px;
                    font-size: 13px;
                    background-color: #f5a425;
                    font-weight: 700;
                    color: white;

                    text-transform: uppercase;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin: 1px;
                }

                .submit-bar {
                    text-align: end;
                }
            } 

            .content-item {
                padding-left: 15px;
                border-left: 1px solid white;
                font-family: 'Roboto', 'Arial', sans-serif;

                .content-name {
                    vertical-align: top;
                    font-size: 15px;
                    font-weight: bold;
                }
                .content-text {
                    font-size: 14px;
                    width: 100%;
                    font-weight: 400;
                }
                .content-button {
                    display: flex;
                    height: 34px;

                    button {
                        text-transform: uppercase;
                        margin-right: 10px;
                        font-size: 13px;
                        color: #f5a425;
                    }
                }
            }
            .reply {
                margin-left: 60px;
            }
        }
    }
}

